<div class="page">
  <div class="title">Turdle</div>
  <div class="attempts">
    <div class="attempt">
    </div>
    <div class="attempt">
    </div>
    <div class="attempt">
    </div>
    <div class="attempt">
    </div>
    <div class="attempt">
    </div>
    <div class="attempt">
    </div>
  </div>
</div>